---
layout: default
title: Civic Tech Book Club
permalink: /
---

<h2>About</h2>
{% capture index %}{% include index.md %}{% endcapture %}
{{ index | markdownify }}
<a href="https://bookshop.org/lists/civic-tech-book-club-reading-list"><img src="https://raw.githubusercontent.com/rebeccawilliams/bookclub/gh-pages/assets/img/Screen%20Shot%202020-09-01%20at%206.01.09%20PM.png" alt="Bookshop image" width="100%" height="auto"></a>
{% if site.group %}
<section id="repositories">
  <h2>Join</h2>
  <ul class="repo-list group">
    <li class="list-icon">
      <img src="assets/img/ggroup.png" width="25px" alt="">
    </li>
    {% for group in site.group %}
      <li>
        <a href="{{ group.url }}">
          <h4>{{ group.name }}</h4>
          <p>{{ group.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

{% if site.repos %}
<section id="repositories">
  <h2>Contribute</h2>
  <ul class="repo-list group">
    <li class="list-icon">
      <img src="assets/img/octocat.png" width="25px" alt="">
    </li>
    {% for repo in site.repos %}
      <li>
        <a href="{{ repo.url }}">
          <h4>{{ repo.name }}</h4>
          <p>{{ repo.description }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}

